# Ignore node_modules directory for both server and client
server/node_modules/
client/node_modules/

# Ignore .env file for the server
server/.env

# Ignore assets directory for the server
server/Assets/